<h2>Products</h2>
<button type="button" mdbBtn color="light" mdbWavesEffect>Search</button>
<input aria-required="Name" >

<div class="card" style="width:22rem;text-align:center">
<mdb-card  >
  <!--Card image-->
  <mdb-card-img src="https://pbs.twimg.com/media/EXDVsRkXQAEBK4P?format=jpg&name=small" alt="Card image cap"></mdb-card-img>
  
  <!--Card content-->
  <mdb-card-body>
    <!--Title-->
    <mdb-card-title>
      <h4 style="color:#0c2136;text-align:center">Driver Card</h4>
    </mdb-card-title>
    <!--Text-->
    <mdb-card-text style="text-align:center"  > 
      This is the card's description!
    </mdb-card-text>
    <button href="#" mdbBtn color="primary"  mdbWavesEffect style="color:goldenrod;text-align:center">
      select</button>
    <a href="#" mdbBtn color="primary"  mdbWavesEffect></a>
  </mdb-card-body>
</mdb-card>
</div>

<div class="card" style="width:22rem;text-align:center">
  <mdb-card  >
  <!--Card image-->
  <mdb-card-img src="https://pbs.twimg.com/media/ER91YD9XsAEog6R?format=jpg&name=large" alt="Card image cap"></mdb-card-img>
  
  <!--Card content-->
  <mdb-card-body>
    <!--Title-->
    <mdb-card-title>
      <h4 style="color:#0c2136;text-align:center">Stander Card</h4>
    </mdb-card-title>
    <!--Text-->
    <mdb-card-text style="text-align:center"  > 
      This is the card's description!
    </mdb-card-text>
    <button href="#" mdbBtn color="primary"  mdbWavesEffect style="color:goldenrod;text-align:center">
      select</button>
    <a href="#" mdbBtn color="primary"  mdbWavesEffect ></a>
  </mdb-card-body>
</mdb-card>
<md-dialog fab icon="twitter" class="card" style="width:22rem;">"twitter"</md-dialog>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->