<h2>Products</h2>
<button type="button" mdbBtn color="light" mdbWavesEffect>Search</button>
<input aria-required="Name" style="width:12rem" >





<div class="card" style="width:22rem;text-align:center">
<mdb-card  >
  <!--Card image-->
  <mdb-card-img src="https://pbs.twimg.com/media/EXDVsRkXQAEBK4P?format=jpg&name=small" alt="Card image cap"></mdb-card-img>
  
  <!--Card content-->
  <mdb-card-body>
    <!--Title-->
    <mdb-card-title>
      <h4 style="color:#0c2136;text-align:center">Driver Card</h4>
    </mdb-card-title>
    <!--Text-->
    <mdb-card-text style="text-align:center"  > 
      This is the card's description!
    </mdb-card-text>
    <button href="#" mdbBtn color="primary"  mdbWavesEffect style="color:goldenrod;text-align:center">
      select</button>
    <a href="#" mdbBtn color="primary"  mdbWavesEffect></a>
  </mdb-card-body>
</mdb-card>
</div>

<div class="card" style="width:22rem;text-align:center">
  <mdb-card  >
  <!--Card image-->
  <mdb-card-img src="https://pbs.twimg.com/media/ER91YD9XsAEog6R?format=jpg&name=large" alt="Card image cap"></mdb-card-img>
  
  <!--Card content-->
  <mdb-card-body>
    <!--Title-->
    <mdb-card-title>
      <h4 style="color:#0c2136;text-align:center">Stander Card</h4>
    </mdb-card-title>
    <!--Text-->
    <mdb-card-text style="text-align:center"  > 
      This is the card's description!
    </mdb-card-text>
    <button href="#" mdbBtn color="primary"  mdbWavesEffect style="color:goldenrod;text-align:center">
      select</button>
    <a href="#" mdbBtn color="primary"  mdbWavesEffect ></a>
  </mdb-card-body>
</mdb-card>
<md-dialog fab icon="twitter" class="card" style="width:22rem;">"twitter"</md-dialog>
</div>

<div _ngcontent-foj-c94="" class="docs-example-viewer-body" style="width:22rem">
  <toolbar-multirow-example _nghost-foj-c255="" class="ng-star-inserted">
    <mat-toolbar _ngcontent-foj-c255="" color="primary" class="mat-toolbar mat-primary mat-toolbar-multiple-rows">
      <mat-toolbar-row _ngcontent-foj-c255="" class="mat-toolbar-row">
       <span _ngcontent-foj-c255="">The Soft Store</span>
       
      </mat-toolbar-row>
  <mat-toolbar-row _ngcontent-foj-c255="" class="mat-toolbar-row">
    <span _ngcontent-foj-c255="">Second Line</span>
    <span _ngcontent-foj-c255="" class="example-spacer"></span>
   <mat-icon _ngcontent-foj-c255="" role="img" aria-hidden="false" aria-label="Example user verified icon" class="mat-icon notranslate example-icon material-icons mat-icon-no-color">school
   </mat-icon>
  </mat-toolbar-row>
  <mat-toolbar-row _ngcontent-foj-c255="" class="mat-toolbar-row">
    <span _ngcontent-foj-c255="">Third Line</span>
    <span _ngcontent-foj-c255="" class="example-spacer"></span>
   <mat-icon _ngcontent-foj-c255="" role="img" aria-hidden="false" aria-label="Example heart icon" class="mat-icon notranslate example-icon material-icons mat-icon-no-color">
        favorite
    </mat-icon>
        <mat-icon _ngcontent-foj-c255="" role="img" aria-hidden="false" aria-label="Example delete icon" class="mat-icon notranslate example-icon material-icons mat-icon-no-color">delete
          </mat-icon>
  </mat-toolbar-row>
     </mat-toolbar>
          </toolbar-multirow-example>
          <!----><!---->
</div>

  <mat-chip-list aria-label="Fish selection">
  <mat-chip>One fish</mat-chip>
  <mat-chip>Two fish</mat-chip>
  <mat-chip color="primary" selected>Primary fish</mat-chip>
  <mat-chip color="accent" selected>Accent fish</mat-chip>
</mat-chip-list>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->