<a [routerLink]="['/']">
  <h1>Soft Store</h1>
</a>

<a class="button fancy-button"><i class="material-icons">shopping_cart</i>Shop</a>


<div class="example-container" style="text-align:center">
  <mat-form-field appearance="fill">
    <mat-label style="padding:22px">Enter email</mat-label>
    <input style="" matInput placeholder="user@email.com" [formControl]="email" required>
    <mat-error *ngIf="email.invalid" style="padding:22px">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->